doctype html
html
  head
    title Jasmine Spec Runner
    link(rel='stylesheet', type='text/css', href='lib/jasmine/jasmine.css')

  body
    script(src='lib/jasmine/jasmine.js')
    script(src='lib/jasmine/jasmine-html.js')
    script(src='lib/jasmine/jasmine-console.js')
    script(src='/tests.js')
    script(src="/lib/angular/angular.js")
    script(src="/lib/angular/angular-ui-router.js")
    script(src="/app.js")
